* {
    margin: 0px;
    padding: 0px;
}

/*-----------------------------------------Colours*/

.container-main-header {
    color: #fff;
}

.quote {
    color: #fff;
}

.nav-link:hover {
    color: #61BF3F;
}

.container-info {
    color: #fff;
}

.page-header {
    color: #fff;
    
}

.container-info {
    background-color: rgba(239, 255, 183, 0.80);
    color: #696969;
}

.container-videos {
    background-color: rgba(239, 255, 183, 0.80);
}

#footer-details {
    color: #fff;
    background-color: rgba(239, 255, 183, 0.50);
}

#footer-details i {
    color: #fff;
}
 
#footer-details i:hover {
    color: #61BF3F;
}
 

/*-----------------------------------------Navbar*/

.bg-light {
    background-color: rgba(220, 207, 238, 0.75);
}

.navbar-brand {
    max-height: 80px;
    max-width: 80px;
    margin-left: 20px;
}

.nav-link {
    font-family: "quicksand", sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 20px;
}

.btn {
    margin-right: 50px;
    background-color: #61BF3F;
    color: #fff;
}

/*-----------------------------------------Background*/

body {
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 600px;
    font-family: "quicksand", sans-serif;
    
    
}

/*-----------------------------------------Header*/

.container-main-header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 270px;
}

.container-main-header h1 {
    font-size: 80px;
    font-family: "quicksand", sans-serif;
}

.container-main-header h4 {
    font-size: 50px;
    font-family: "quicksand", sans-serif;
}

.container-main-header h5 {
    font-size: 30px;
    font-family: "quicksand", sans-serif;
}

/*-----------------------------------------Quote*/

.quote {
    text-align: right;
    margin-right: 20px
    
}

.quote h6 {
    margin-right: 160px;
   
}


/*-----------------------------------------Main Info*/

.page-header {
    
    text-align: center;
    margin-top: 100px;
    
}

.container-info {
    
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
}

/*-----------------------------------------Videos*/

.container-videos {
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px; 
    display: inline-block;
}

/*-----------------------------------------Footer*/

.list-block-item {
    display: block;
}

#footer-details {
    height: 80px;
    position: relative;
}


.social-links {
    font-size: 30px;
}

/*-----------------------------------------Media Queries*/

