* {
    margin: 0px;
    padding: 0px;
}

/*----------------------------------------------COLOURS*/

body {
    background-color: #999999;
}

.container {
    color: #fff;
}

.top-btn, .send-button {
    background-color: #61BF3F;
    color: #fff;
}

.nav-link {
    color: #fff;
}

.nav-item:hover {
    color: #61BF3F;
}

.quote h5, h6 {
    color: #fff;
}

.page-header {
    color: #fff;
}

#carousel-horse-captions, #carousel-facilities-captions  {
    background-color: rgba(255, 255, 255, 0.90);
}

#carousel-horse-captions, #carousel-facilities-captions li {
    background-color: rgba(255, 255, 255, 0.90);
}

#carousel-horse-captions, #carousel-facilities-captions li:hover {
    background-color: #61BF3F;
}

.carousel-control-prev {
    background-color: #61BF3F;
}

.carousel-control-next {
    background-color: #61BF3F;
}

.carousel-item h5 {
    color: #696969;
    background-color: rgba(255, 255, 255, 0.90);
}

.container-contact {
    color: #fff;
}

.map p {
    background-color: rgba(255, 255, 255, 0.90);
    color: #696969;
}

.social-links i {
    color: #fff;
}

.copyright p {
    color: #fff;
}

/*----------------------------------------------GENERAL*/

:root {
    font-size: 16px;
}

body {
    font-family: "quicksand", sans-serif;
    margin: 0;
}

.page-header {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 5%;
}

.btn {
    margin-right: 0;
    height: 20%;
    font-size: 1rem;
}

#wrapper {
    width: 100%;
    padding: 2%;
}

.container {
    width: 100%;
    padding: 2%;
    margin-bottom: 30%;
}


/*----------------------------------------------NAVBAR*/

.navbar {
    display: flex;
}

.navbar-toggler {
    font-size: 2rem;
    line-height: 1.5;
    z-index: 2;
}

.navbar-brand {
    max-height: 20%;
    margin-top: 2%;
    max-width: 20%;
}    

.nav-link {
    font-size: 1rem;
    padding: 2%;
}

.nav-item:hover {
    font-weight: 600;
    border-radius: 50%;
}

.nav-item .current {
    font-weight: 600;
    border-radius: 50%;
}

.nav-book {
    display: none;
}

.top-btn {
    box-shadow: .25rem .25rem .5rem 0rem rgba(10, 1, 10, 0.23);
    border-radius: 50%;
    font-size: 1rem;
    margin-top: 8%;
}

.fixed-top {
    text-align: center;
    z-index: 0;
}

/*----------------------------------------------HOME*/

.container-main-header {
    text-align: center;
    margin: auto;
    margin-top: 5%;
    width: 100%;
}

.container-main-header h1 {
    font-size: 3.5rem;
    margin-bottom: 5%;
}

.container-main-header h4 {
    font-size: 2.5rem;
    margin-bottom: 5%;
}

.container-main-header h5 {
    font-size: 2rem;
    margin-bottom: 15%;
}

.quote {
    text-align: center;
    margin-top: 10%;
}

.quote h6 {
    text-align: center;
    font-size: 1rem;
}    


/*----------------------------------------------ABOUT*/

.container-about {
    height: 60%;
    width: 100%;
}

.videos {
    filter: grayscale(80%);
}

.videos:hover {
    filter: none;
}

.videos:play {
    filter: none;
}

.article {
    margin-top: 5%;
}

/*----------------------------------------------HORSES*/

#carousel-horse-captions .carousel-inner img {
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 75%;
}

#carousel-horse-captions li {
    width: 10%;
    height: 10%;
}

.carousel-caption {
    position: static;
}

.carousel-item h5 {
    font-size: 1.5em;
    font-weight: 600;
    width: 100%;
}


/*----------------------------------------------TRAIL RIDES*/

#carousel-facilities-captions .carousel-inner img {
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 75%;
}

#carousel-facilities-captions li {
    width: 10%;
    height: 10%;
}

/*----------------------------------------------LESSONS*/


/*----------------------------------------------FACILITIES*/



/*----------------------------------------------CONTACT*/

.form-group {
    width: 95%;
    font-size: 1rem;
}

.message-box {
    width: 95%;
    font-size: 1rem;
}

.form-group p {
    font-size: 0.8rem;
}

#comment {
    height: 20%;
}

.send-btn {
    text-align: center;
    margin-top: 5%;
}

.map iframe {
    margin-top: 5%;
    height: 30%;
    width: 95%;
    filter: sepia(50%);
}

.map p {
    padding: 2%;
    font-size: 1rem;
    width: 95%;
    margin-bottom: 35%;
}

/*----------------------------------------------FOOTER*/

.list-block-item {
    display: block;
}

#footer-details {
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
}

.social-links {
    font-size: 2rem;
}

.fab {
    text-shadow: .10rem .10rem #080808;
}

.copyright p {
    font-size: 1rem;
}

/*----------------------------------------------MODAL*/




/*----------------------------------------------MEDIA QUERIES*/





