* {
    margin: 0px;
    padding: 0px;
}

/*-----------------------------------------Colours*/

.container-main-header {
    color: #fff;
}

.quote {
    color: #fff;
}

.nav-link:hover {
    color: #fff;
    background-color: #61BF3F88;
}

.nav-link.highlight {
    color: #fff;
    background-color: #61BF3F88;
}

.btn {
    background-color: #61BF3F;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(10, 1, 10, 0.23);
    -moz-box-shadow: 10px 10px 5px 0px rgba(10, 1, 10, 0.23);
    box-shadow: 10px 10px 5px 0px rgba(10, 1, 10, 0.23);
    color: #fff;
}

.btn:hover {
    background-color: #3A7326;
}

.page-header {
    color: #fff;
}

.container-about {
    background-color: rgba(255, 255, 255, 0.90);
    color: #696969;
}

.container-video {
    background-color: rgba(255, 255, 255, 0.90);
}

#carousel-horse-captions {
    background-color: rgba(255, 255, 255, 0.90);
}

#carousel-horse-captions li {
    background-color: rgba(255, 255, 255, 0.90);
}

#carousel-horse-captions li:hover {
    background-color: #61BF3F;
}

#carousel-trail-captions li:hover {
    background-color: #61BF3F;
}

#carousel-facilities-captions li:hover {
    background-color: #61BF3F;
}

.carousel-control-prev {
    background-color: #61BF3F;
}

.carousel-control-next {
    background-color: #61BF3F;
}

.carousel-item h5 {
    color: #696969;
    background-color: rgba(255, 255, 255, 0.90);
}

.container-trailride {
    background-color: rgba(255, 255, 255, 0.90);
    color: #696969;
}

#carousel-trail-captions {
    background-color: rgba(255, 255, 255, 0.90);
}

.container-lessons {
    background-color: rgba(255, 255, 255, 0.90);
    color: #696969;
}

.text-wrapper {
    color: #fff;
    background-color: #61BF3F80;
}

.container-clinic {
    background-color: rgba(255, 255, 255, 0.90);
    color: #696969;
}

.card {
    background-color: rgba(255, 255, 255, 0.90);
    color: #696969;
}

#carousel-facilities-captions {
    background-color: rgba(255, 255, 255, 0.90);
}

.container-contact {
    color: #fff;
}

.map p {
    background-color: rgba(255, 255, 255, 0.90);
    color: #696969;
}

.modal-title {
    background-color: #61BF3F;
    color: #fff;
}

.modal-body {
    background-color: rgba(255, 255, 255, 0.90);
    color: #696969;
}

.service,.time,.date {
    color: #696969;
}


#footer-details {
    color: #fff;
    background-color: #99999977;

}

#footer-details i {
    color: #fff;
}

#footer-details i:hover {
    color: #61BF3F;
}


/*-----------------------------------------Navbar*/

.navbar-brand {
    max-height: 80px;
    max-width: 80px;
    margin-left: 20px;
}

.nav-link {
    font-family: "quicksand", sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 20px;
}

.nav-link:hover {
    font-weight: 600;
    border-radius: 50%;
}

.nav-link.highlight {
    font-weight: 600;
    border-radius: 50%;
}


.btn {
    margin-right: 50px;
}

/*-----------------------------------------General*/

body {
    background-image: url(../images/wild-horses.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: "quicksand", sans-serif;
}

.logo {
    max-height: 80px;
    max-width: 80px;
}

.page-header {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}

/*-----------------------------------------Home Page*/

.container-main-header {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 270px;
}

.container-main-header h1 {
    font-size: 70px;
    font-family: "quicksand", sans-serif;
}

.container-main-header h4 {
    font-size: 40px;
    font-family: "quicksand", sans-serif;
}

.container-main-header h5 {
    font-size: 30px;
    font-family: "quicksand", sans-serif;
}

/*-----------------------------------------Quote*/

.quote {
    text-align: right;
    margin-right: 40px;
    margin-bottom: 30px;
}

.quote h6 {
    margin-right: 160px;
}


/*-----------------------------------------About Page*/

.container-about {
    padding: 10px;
    margin-bottom: 20px;
    height: 427px;
}

.article {
    padding-top: 10px;
}

.about {
    float: right;
}

.embed-responsive {
    margin-bottom: 10px;
}

.videos {
    filter: grayscale(80%);
}

.videos:hover {
    filter: none;
}

.videos:play {
    filter: none;
}


/*-----------------------------------------Horses Page*/

#carousel-horse-captions .carousel-inner img {
    max-width: 450px;
    max-height: 450px;
    min-width: 450px;
    min-height: 450px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#carousel-horse-captions li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-item h5 {
    font-size: 30px;
    font-weight: 600;
    width: 310px;
}



/*-----------------------------------------Trail Rides*/

.container-trailride {
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 0px;
    text-align: center;
    border-radius: 25px;
}

#carousel-trail-captions .carousel-inner img {
    max-width: 220px;
    max-height: 220px;
    min-width: 220px;
    min-height: 220px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

#carousel-trail-captions li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}


#carousel-trail-captions.carousel-item h5 {
    font-size: 30px;
    font-weight: 600;
    width: 1000px;
}

.trail-btn {
    margin-top: 5px;
    margin-right:20px;
}


/*-----------------------------------------Lessons*/

.container-lessons {
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 0px;
    text-align: center;
    border-radius: 25px;
}

.lesson-btn {
    margin-top: 5px;
    margin-right: 20px;
}



.container-clinic {
    border-radius: 25px;
    text-align: center;
}

.clinic-info {
    padding: 10px;
}

.text-wrapper {
    width: 100%;
    position: relative;
    margin-top: -30%;
    margin-left: 15px;
    font-weight: 600;
}

.clinic-button {
    margin-top: 50px;
}

.clinic-button p {
    margin-top: 20px;
    font-weight: 600;
}

.clinic-btn {
    margin-left: 30px;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    border-radius: 25px;
}

.card-body {
    padding: 10px;
}

/*-----------------------------------------Facilities*/

#carousel-facilities-captions .carousel-inner img {
    max-width: 450px;
    max-height: 450px;
    min-width: 450px;
    min-height: 450px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#carousel-facilities-captions li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-item h5 {
    font-size: 30px;
    font-weight: 600;
    width: 310px;
}

/*-----------------------------------------Contact*/

.form-group {
    width: 600px;
    margin-left: 150px;
}

.message-box {
    width: 600px;
    margin-left: 150px;
}

.form-group p {
    font-size: 12px;
}

#comment {
    height: 80px;
}

.send-btn {
    margin-left: 400px;
    margin-top: 20px;
}

.map iframe {
    margin-top: 10px;
    height: 300px;
    width: 500px;
    filter: sepia(50%);
}

.map p {
    margin-right: 251px;
    padding: 10px;

}

/*-----------------------------------------Modal*/

.modal-content {
    text-align: left;
}

.modal-header {
    margin-left: 150px;
}

.modal-title {
    padding: 5px;
    border-radius: 10px;
    font-size: 25px;
}

.form-modal {
    width: 200px;
    margin-left: 10px;
} 

.date-title {
    margin-top: 10px;
}


.time-title,.service-title {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: -15px;
}


.modal-footer {
    bottom: 0px;
    position: relative;
    width: 100%;
}

.modal-btn {
    margin-right: 195px;
}

/*-----------------------------------------Footer*/

.list-block-item {
    display: block;
}

.fab {
    text-shadow: 2px 2px #080808;
}

#footer-details {
    height: 80px;
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
}

#footer-details ul {
    margin-bottom: 0px;
}


.social-links {
    font-size: 30px;

}


/*-----------------------------------------Media Queries*/

@media (max-width: 767px) {

    body {
        background-image: none;
        background-color: #999999;
    }
    
    .nav-link:hover {
    font-weight: 600;
    border-radius: 10px;
    }


    .navbar-toggler-icon { 
        color: #fff;
    }

    .article {
    color: #fff;
    }
    
    #carousel-horse-captions .carousel-inner img {
    max-width: 250px;
    max-height: 300px;
    min-width: 250px;
    min-height: 300px;
    }
    
    
    .trail-button {
        margin-bottom: 5px;
    }
    
    .trail-btn {
        margin-right: 0px;
    }
    
    .lesson-button {
        margin-bottom: 5px;
    }
    
    .lesson-btn {
        margin-right: 0px;
    }
    
    .text-wrapper {
        margin-left: 0px;
    }
    
    .card {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .wawe-btn {
        margin-left: 30px;
    }
    
    #carousel-facilities-captions .carousel-inner img {
        max-width: 250px;
        max-height: 300px;
        min-width: 250px;
        min-height: 300px;
    }
    
    .form-group {
        margin-left: 10px;
        width: 380px;
    }
    
    .message-box {
       margin-left: 10px;
       width: 380px; 
    }
    
    .map {
        width: 300px;
    }
    
    #footer-details {
        position: static !important;
    }    
}