* {
    margin: 0px;
    padding: 0px;
}

/*------------------------------------------------------Colours*/

.container-main-header {
    color: #fff;
}

.quote {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: #61BF3F88;
}

.nav-item .current {
    color: #fff;
    background-color: #61BF3F88;
}

.btn {
    background-color: #61BF3F;
    box-shadow: 10px 10px 5px 0px rgba(10, 1, 10, 0.23);
    color: #fff;
}

.btn:hover {
    background-color: #3A7326;
}

.page-header {
    color: #fff;
}

.container-about {
    background-color: rgba(255, 255, 255, 0.90);
    color: #696969;
}

.container-video {
    background-color: rgba(255, 255, 255, 0.90);
}

#carousel-horse-captions {
    background-color: rgba(255, 255, 255, 0.90);
}

#carousel-horse-captions li {
    background-color: rgba(255, 255, 255, 0.90);
}

#carousel-horse-captions li:hover {
    background-color: #61BF3F;
}

#carousel-trail-captions li:hover {
    background-color: #61BF3F;
}

#carousel-facilities-captions li:hover {
    background-color: #61BF3F;
}

.carousel-control-prev {
    background-color: #61BF3F;
}

.carousel-control-next {
    background-color: #61BF3F;
}

.carousel-item h5 {
    color: #696969;
    background-color: rgba(255, 255, 255, 0.90);
}

.container-trailride {
    background-color: rgba(255, 255, 255, 0.90);
    color: #696969;
}

#carousel-trail-captions {
    background-color: rgba(255, 255, 255, 0.90);
}

.container-lessons {
    background-color: rgba(255, 255, 255, 0.90);
    color: #696969;
}

.text-wrapper {
    color: #fff;
    background-color: #61BF3F80;
}

.container-clinic {
    background-color: rgba(255, 255, 255, 0.90);
    color: #696969;
}

.card {
    background-color: rgba(255, 255, 255, 0.90);
    color: #696969;
}

#carousel-facilities-captions {
    background-color: rgba(255, 255, 255, 0.90);
}

.container-contact {
    color: #fff;
}

.map p {
    background-color: rgba(255, 255, 255, 0.90);
    color: #696969;
}

.modal-title {
    background-color: #61BF3F;
    color: #fff;
}

.modal-body {
    background-color: rgba(255, 255, 255, 0.90);
    color: #696969;
}

.service,.time,.date {
    color: #696969;
}


#footer-details {
    color: #fff;
    background-color: #99999977;

}

#footer-details i {
    color: #fff;
}

#footer-details i:hover {
    color: #61BF3F;
}


/*------------------------------------------------------Navbar*/

.navbar-brand {
    max-height: 120px;
    margin-left: 50px;
    max-width: 120px;
}    

.nav-link {
    font-family: "quicksand", sans-serif;
    font-size: 30px;
    padding: 20px;
}

.nav-link:hover {
    font-weight: 600;
    border-radius: 50%;
}

.nav-item .current {
    font-weight: 600;
    border-radius: 50%;
}

/*--------------------------Booking Button*/

.btn {
    margin-right: 70px;
    height: 70px;
    font-size: 30px;
}

/*------------------------------------------------------General*/

body {
    background-image: url(../images/wild-horses.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: "quicksand", sans-serif;
}

.page-header {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
}

.container {
    font-size: 20px;
}

/*------------------------------------------------------Home Page*/

.container-main-header {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 350px;
}

.container-main-header h1 {
    font-size: 90px;
    font-family: "quicksand", sans-serif;
    margin-bottom: 4px;
}

.container-main-header h4 {
    font-size: 50px;
    font-family: "quicksand", sans-serif;
    margin-bottom: 2px;
}

.container-main-header h5 {
    font-size: 40px;
    font-family: "quicksand", sans-serif;
}

.quote {
    text-align: right;
    margin-right: 40px;
}

.quote h5 {
    font-size: 30px;
}

.quote h6 {
    margin-right: 220px;
    font-size: 25px;
}


/*------------------------------------------------------About Page*/

.container-about {
    margin-bottom: 0px;
    height: 525px;
    width: 1400px;
    padding: 10px;
}

.article {
    padding-top: 10px;
}

.about {
    float: right;
}

.embed-responsive {
    margin-bottom: 10px;
}

.videos {
    filter: grayscale(80%);
}

.videos:hover {
    filter: none;
}

.videos:play {
    filter: none;
}


/*-----------------------------------------------------Horses Page*/

#carousel-horse-captions .carousel-inner img {
    max-width: 600px;
    max-height: 600px;
    min-width: 600px;
    min-height: 600px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#carousel-horse-captions li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-item h5 {
    font-size: 30px;
    font-weight: 600;
    width: 372px;
}

/*-----------------------------------------------------Trail Rides*/

.container-trailride {
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 0px;
    text-align: center;
    border-radius: 25px;
}

#carousel-trail-captions .carousel-inner img {
    max-width: 320px;
    max-height: 320px;
    min-width: 320px;
    min-height: 320px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

#carousel-trail-captions li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.trail-btn {
    margin-top: 5px;
    margin-right:20px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
}


/*------------------------------------------------------Lessons*/

.container-lessons {
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 0px;
    text-align: center;
    border-radius: 25px;
}

.lesson-btn {
    margin-top: 5px;
    margin-right: 20px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
}

.container-clinic {
    border-radius: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.clinic-info {
    padding: 10px;
}

.clinic-info h5 {
    font-weight: 600;
}

.text-wrapper {
    width: 100%;
    position: relative;
    margin-top: -30%;
    font-weight: 600;
}

.clinic-button {
    margin-top: 50px;
}

.clinic-button p {
    margin-top: 20px;
    font-weight: 600;
}

.clinic-btn {
    margin-left: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
}

.clinic-img img {
    height: 215px;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 550px;
    margin-right: 550px;
    text-align: center;
    border-radius: 25px;
    font-size: 20px;
}

.card-body {
    padding: 10px;
    margin-left: 60px;
}    

.wawe-btn {
    height: 50px;
    text-align: center;
}

/*------------------------------------------------------Facilities*/

#carousel-facilities-captions .carousel-inner img {
    max-width: 600px;
    max-height: 600px;
    min-width: 600px;
    min-height: 600px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#carousel-facilities-captions li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-item h5 {
    font-size: 30px;
    font-weight: 600;
    width: 372px;
}

/*------------------------------------------------------Contact*/

.form-group {
    width: 700px;
    margin-left: 250px;
    font-size: 20px;
}

.contact-form {
    margin-right: 0px;
}

.message-box {
    width: 700px;
    margin-left: 250px;
    font-size: 20px;
}

.form-group p {
    font-size: 12px;
}

#comment {
    height: 150px;
}

.send-btn {
    margin-left: 500px;
    margin-top: 20px;
}

.map iframe {
    margin-top: 10px;
    height: 350px;
    width: 600px;
    filter: sepia(50%);
    margin-left: 20px;
}

.map p {
    margin-right: 251px;
    padding: 10px;
    font-size: 20px;
    width: 600px;
    margin-left: 20px;
}

/*------------------------------------------------------Modal*/

.modal-content {
    text-align: left;
}

.modal-header {
    margin-left: 150px;
}

.modal-title {
    padding: 5px;
    border-radius: 10px;
    font-size: 25px;
}

.form-modal {
    width: 200px;
    margin-left: 10px;
} 

.date-title {
    margin-top: 10px;
}


.time-title,.service-title {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: -15px;
}


.modal-footer {
    bottom: 0px;
    position: relative;
    width: 100%;
}

.modal-btn {
    margin-right: 195px;
}

/*------------------------------------------------------Footer*/

.list-block-item {
    display: block;
}

.fab {
    text-shadow: 2px 2px #080808;
}

#footer-details {
    height: 100px;
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
}

#footer-details ul {
    margin-bottom: 0px;
}


.social-links {
    font-size: 40px;

}

.copyright p {
    font-size: 20px;
}


/*------------------------------------------------------Media Queries*/

/*medium tablets*/
@media only screen and (max-width: 1199px) {
    
    .top-btn {
        display: none;
    }
    
    .navbar-brand {
        margin-left: 0px;
        margin-right: 0px;
        width: 100px;
        height: 100px;
    }
    
    .navbar-dark .navbar-nav .nav-link {
        font-size: 20px;
        border-radius: 10px;
    }
    
    .nav-item .current {
        display: none;
    }
    
    .nav-book {
        display: none;
    }
    
    .top-btn {
        position: fixed;
    }
    
    .page-header {
        font-size: 30px;
    }
    
    .container {
        font-size: 20px;
        margin-bottom: 50px;
        width: 100%;
    }
    
    .btn {
        height: 50px;
        font-size: 20px;
        margin-left: 150px;
        margin-top: 30px;
        width: 140px;
        color: #fff;
    }
    
    .container-main-header h1 {
    font-size: 70px;
    }

    .container-main-header h5 {
    font-size: 30px;
    }
    
    .quote {
       margin-top: 30px;
    } 
    
    .quote h5 {
    font-size: 20px;
    text-align: center;
    }
    
    .quote h6 {
    margin-right: 80px;
    font-size: 20px;
    }
    
    .embed-responsive-16by9 {
       height: 150px;
   }
    
    .container-about{
        height: 330px;
    }
    
    .article {
        color: #fff;
        margin-bottom: 100px;
    }
    
    .trail-btn {
        margin-right: 0px;
        margin-left: 20px;
        margin-bottom: 5px;
    }   
    
    .lesson-btn {
        margin-right: 0px;
        margin-left: 20px;
        margin-bottom: 5px;
    }  
    
    .text-wrapper {
    margin-top: -100px;
    }
    
    .clinic-info h5 {
    margin-top: 40px;
    }
    
    .clinic-btn {
        margin-left: 90px;
    }
    
    .clinic-button {
        margin-top: 10px;
    }
    
    .card {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .card-body {
        width: 100%;
        margin-left: 0px;
    }
    
    .wawe-btn {
        margin-left: 70px;
        width: 150px;
        margin-bottom: 20px;
    }
    
    #carousel-horse-captions .carousel-inner img {
        max-width: 300px;
        max-height: 300px;
        min-width: 300px;
        min-height: 300px;
    }

    
    #carousel-facilities-captions .carousel-inner img {
        max-width: 300px;
        max-height: 300px;
        min-width: 300px;
        min-height: 300px;
    }
    .form-group {
        width: 390px;
        margin-left: 10px;
    }
    
    .message-box {
    width: 390px;
    margin-left: 10px;
    }
    
    .map iframe {
    width: 390px;
    margin-left: 10px;
    }
    
    .map p {
    margin-right: 10px;
    width: 390px;
    margin-left: 10px;
    }
    
    .send-btn {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    
    .modal-placeholder {
        width: 90%;
    }
    
    .modal-header {
        margin-left: 100px;
    }
    
    .modal-button {
        margin-right: 110px;
    }
    
    #footer-details {
    height: 80px;
    }
    
    .social-links {
    font-size: 30px;
    }
    
}    
 
/*large desktop*/
@media only screen and (min-width: 1200px) {
    .container {
    max-width: 1400px;
    }
    
    .top-btn {
        display: none;
    }
    
}    

/*mobile*/
@media only screen and (max-width: 767px) {

    body {
        background-image: none;
        background-color: #999999;
        padding-bottom: 90px;
    }
    
    .navbar-brand {
        margin-left: 0px;
        margin-right: 0px;
        width: 100px;
        height: 100px;
    }
    
    .navbar-dark .navbar-nav .nav-link {
        font-size: 20px;
        border-radius: 10px;
    }
    
    .nav-item .current {
        display: none;
    }
    
    .nav-book {
        display: none;
    }
    
    .top-btn {
        position: fixed;
    }
    
    .page-header {
        font-size: 30px;
    }
    
    .container {
        font-size: 20px;
        margin-bottom: 50px;
        width: 100%;
    }
    
    .btn {
        height: 50px;
        font-size: 20px;
        margin-left: 150px;
        margin-top: 30px;
        width: 140px;
        color: #fff;
    }
    
    .container-main-header h1 {
    font-size: 70px;
    }

    .container-main-header h5 {
    font-size: 30px;
    }
    
    .quote {
       margin-top: 30px;
    } 
    
    .quote h5 {
    font-size: 20px;
    text-align: center;
    }
    
    .quote h6 {
    margin-right: 80px;
    font-size: 20px;
    }
    
    .embed-responsive-16by9 {
       height: 150px;
   }
    
    .container-about{
        height: 330px;
    }
    
    .article {
        color: #fff;
        margin-bottom: 100px;
    }
    
    .trail-btn {
        margin-right: 0px;
        margin-left: 20px;
        margin-bottom: 5px;
    }   
    
    .lesson-btn {
        margin-right: 0px;
        margin-left: 20px;
        margin-bottom: 5px;
    }  
    
    .text-wrapper {
    margin-top: -100px;
    }
    
    .clinic-info h5 {
    margin-top: 40px;
    }
    
    .clinic-btn {
        margin-left: 90px;
    }
    
    .clinic-button {
        margin-top: 10px;
    }
    
    .card {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .card-body {
        width: 100%;
        margin-left: 0px;
    }
    
    .wawe-btn {
        margin-left: 70px;
        width: 150px;
        margin-bottom: 20px;
    }
    
    #carousel-horse-captions .carousel-inner img {
        max-width: 300px;
        max-height: 300px;
        min-width: 300px;
        min-height: 300px;
    }

    
    #carousel-facilities-captions .carousel-inner img {
        max-width: 300px;
        max-height: 300px;
        min-width: 300px;
        min-height: 300px;
    }
    .form-group {
        width: 390px;
        margin-left: 10px;
    }
    
    .message-box {
    width: 390px;
    margin-left: 10px;
    }
    
    .map iframe {
    width: 390px;
    margin-left: 10px;
    }
    
    .map p {
    margin-right: 10px;
    width: 390px;
    margin-left: 10px;
    }
    
    .send-btn {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    
    .modal-placeholder {
        width: 90%;
    }
    
    .modal-header {
        margin-left: 100px;
    }
    
    .modal-button {
        margin-right: 110px;
    }
    
    #footer-details {
    height: 80px;
    }
    
    .social-links {
    font-size: 30px;
    }
    
}    


