* {
    margin: 0px;
    padding: 0px;
}

/*-----------------------------------------Colours*/

.container-main-header {
    color: #fff;
}

.quote {
    color: #fff;
}

.nav-link:hover {
    color: #61BF3F;
}

.btn {
    background-color: #61BF3F;
    color: #fff;
}

.btn:hover {
    background-color: #3A7326;
}

.page-header {
    color: #fff;
}

.container-about {
    background-color: rgba(239, 255, 183, 0.80);
    color: #696969;
}

.container-video {
    background-color: rgba(239, 255, 183, 0.80);
}

#carousel-horse-captions {
    background-color: rgba(239, 255, 183, 0.80);
}

#carousel-horse-captions li {
    background-color: #fff;
}

#carousel-horse-captions li:hover {
    background-color: #61BF3F;
}

#carousel-trail-captions li:hover {
    background-color: #61BF3F;
}

#carousel-facilities-captions li:hover {
    background-color: #61BF3F;
}

.carousel-control-prev {
    background-color: #61BF3F;
}

.carousel-control-next {
    background-color: #61BF3F;
}

.carousel-item h5 {
    color: #696969;
    background-color: rgba(239, 255, 183, 0.80);
}

.container-trailride {
    background-color: rgba(239, 255, 183, 0.80);
    color: #696969;
}

#carousel-trail-captions {
    background-color: rgba(239, 255, 183, 0.80);
}

.container-lessons {
    background-color: rgba(239, 255, 183, 0.80);
    color: #696969;
}

.text-wrapper {
    color: #fff;
    background-color: #61BF3F80;
}

.container-clinic {
    background-color: rgba(239, 255, 183, 0.80);
    color: #696969;
}

#carousel-facilities-captions {
    background-color: rgba(239, 255, 183, 0.80);
}

.container-contact {
    color: #fff;
}

.map p {
    background-color: rgba(239, 255, 183, 0.80);
    color: #696969;
}

#footer-details {
    color: #fff;
    background-color: rgba(239, 255, 183, 0.50);
}

#footer-details i {
    color: #fff;
}
 
#footer-details i:hover {
    color: #61BF3F;
}
 

/*-----------------------------------------Navbar*/

.bg-light {
    background-color: rgba(220, 207, 238, 0.75);
}

.navbar-brand {
    max-height: 80px;
    max-width: 80px;
    margin-left: 20px;
}

.nav-link {
    font-family: "quicksand", sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 20px;
}

.btn {
    margin-right: 50px;
}

/*-----------------------------------------General*/

body {
    background-image: url(/assets/images/wild-horses.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: "quicksand", sans-serif;
}

.logo {
    max-height: 80px;
    max-width: 80px;
}

.page-header {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px; 
}

/*-----------------------------------------Home Page*/

.container-main-header {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 270px;
}

.container-main-header h1 {
    font-size: 70px;
    font-family: "quicksand", sans-serif;
}

.container-main-header h4 {
    font-size: 40px;
    font-family: "quicksand", sans-serif;
}

.container-main-header h5 {
    font-size: 30px;
    font-family: "quicksand", sans-serif;
}

/*-----------------------------------------Quote*/

.quote {
    text-align: right;
    margin-right: 40px;
    margin-bottom: 30px;
}

.quote h6 {
    margin-right: 160px;
}


/*-----------------------------------------About Page*/

.container-about {
    padding: 10px;
    margin-bottom: 20px;
    height: 427px;
}

.article {
    padding-top: 10px;
}

.about {
    float: right;
}

.embed-responsive {
    margin-bottom: 10px;
}

.videos {
    filter: sepia(80%);
}

.videos:hover {
    filter: none;
}

.videos:play {
    filter: none;
}


/*-----------------------------------------Horses Page*/

#carousel-horse-captions .carousel-inner img {
    max-width: 450px;
    max-height: 450px;
    min-width: 450px;
    min-height: 450px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#carousel-horse-captions li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-item h5 {
    font-size: 30px;
    font-weight: 600;
    width: 310px;
}



/*-----------------------------------------Trail Rides*/

.container-trailride {
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 0px;
    text-align: center;
    border-radius: 25px;
}

#carousel-trail-captions .carousel-inner img {
    max-width: 220px;
    max-height: 220px;
    min-width: 220px;
    min-height: 220px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

#carousel-trail-captions li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

#carousel-trail-captions img:hover {
    transform: scale(2.2);
}

#carousel-trail-captions.carousel-item h5 {
    font-size: 30px;
    font-weight: 600;
    width: 1000px;
}


/*-----------------------------------------Lessons*/

.container-lessons {
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 0px;
    text-align: center;
    border-radius: 25px;
}   

.lesson-button {
    margin-top: 5px;
}

.trail-button {
    margin-top: 5px;
}

.container-clinic {
    border-radius: 25px;
    text-align: center;
}

.clinic-info {
    padding: 10px;
}

.text-wrapper {
    width: 100%;
    position: relative;
    margin-top: -30%;
    margin-left: 15px;
    font-weight: 600;
}
.clinic-button {
    margin-top: 50px;
}

.clinic-button p {
    margin-top: 20px;
    font-weight: 600;
}

.clinic-btn {
    margin-left: 30px;
}

/*-----------------------------------------Facilities*/

#carousel-facilities-captions .carousel-inner img {
    max-width: 450px;
    max-height: 450px;
    min-width: 450px;
    min-height: 450px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#carousel-facilities-captions li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-item h5 {
    font-size: 30px;
    font-weight: 600;
    width: 310px;
}

/*-----------------------------------------Contact*/

.form-group {
    width: 600px;
    margin-left: 150px;
}

.message-box {
    width: 600px;
    margin-left: 150px;
}

#comment {
    height: 80px;
}

.send-btn {
    margin-left: 400px;
    margin-top: 20px;
}

.map iframe{
    margin-top:25px;
    height: 300px;
    width: 500px;
    filter: sepia(50%);
}

.map p {
    margin-right: 250px;
    padding: 10px;
    
}

/*-----------------------------------------Footer*/

.list-block-item {
    display: block;
}

#footer-details {
    height: 70px;
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
}


.social-links {
    font-size: 50px;
}

/*-----------------------------------------Media Queries*/

