* {
    margin: 0px;
    padding: 0px;
}

/*-----------------------------------------Colours*/

.container-main-header {
    color: #fff;
}

.quote {
    color: #fff;
}

.nav-link:hover {
    color: #61BF3F;
}

.btn {
    background-color: #61BF3F;
    color: #fff;
}

.btn:hover {
    background-color: #3A7326;
}

.page-header {
    color: #fff;
    
}

.container-about {
    background-color: rgba(239, 255, 183, 0.80);
    color: #696969;
}

.videos-header {
    color: #fff;
}

.container-video {
    background-color: rgba(239, 255, 183, 0.80);
}

#carousel-horse-captions {
    background-color: rgba(239, 255, 183, 0.80);
}

#carousel-horse-captions li {
    background-color: #61BF3F;
}

.carousel-control-prev {
    background-color: #61BF3F;
}

.carousel-control-next {
    background-color: #61BF3F;
}

.carousel-item h5 {
    color: #696969;
    background-color: rgba(239, 255, 183, 0.80);
}

.container-trailride {
    background-color: rgba(239, 255, 183, 0.80);
}

.lesson-header {
    color: #fff;
}

.container-lessons {
    background-color: rgba(239, 255, 183, 0.80);
}

.contact-header {
    color: #fff;
}

.container-contact {
    color: #fff;
}

#footer-details {
    color: #fff;
    background-color: rgba(239, 255, 183, 0.50);
}

#footer-details i {
    color: #fff;
}
 
#footer-details i:hover {
    color: #61BF3F;
}
 

/*-----------------------------------------Navbar*/

.bg-light {
    background-color: rgba(220, 207, 238, 0.75);
}

.navbar-brand {
    max-height: 80px;
    max-width: 80px;
    margin-left: 20px;
}

.nav-link {
    font-family: "quicksand", sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 20px;
}

.btn {
    margin-right: 50px;
}

/*-----------------------------------------Background*/

body {
    background-image: url(/assets/images/wild-horses.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: "quicksand", sans-serif;
}

/*-----------------------------------------Header*/

.container-main-header {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 270px;
}

.container-main-header h1 {
    font-size: 70px;
    font-family: "quicksand", sans-serif;
}

.container-main-header h4 {
    font-size: 40px;
    font-family: "quicksand", sans-serif;
}

.container-main-header h5 {
    font-size: 30px;
    font-family: "quicksand", sans-serif;
}

/*-----------------------------------------Quote*/

.quote {
    text-align: right;
    margin-right: 40px;
    margin-bottom: 30px;
}

.quote h6 {
    margin-right: 160px;
}


/*-----------------------------------------About Page*/

.page-header h2 {
    
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 50px;
}




.videos {
    display: inline;
}

.about {
    float: right;
}
    

/*-----------------------------------------Horses Page*/

.page-header {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
}

#carousel-horse-captions .carousel-inner img {
    max-width: 400px;
    max-height: 400px;
    min-width: 400px;
    min-height: 400px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.carousel-item h5 {
    font-size: 30px;
    font-weight: 600;
    width: 337px;
}



/*-----------------------------------------Trail Rides*/

.container-trailride {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 10px;
}

#trail-carousel {
    width: 250px;
    height: 250px;
    
    
}

.carousel {
  margin: 0 auto;
}
.container-trailride img {
    max-height: 100px;
    max-width: 100px;
}

.container-trailride-photos img {
    height: 200px;
    width: 250px;
    margin-bottom: 50px;
}

.trail-button {
    position: relative;
    text-align: center;
}

/*-----------------------------------------Lessons*/

.container-lessons {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 10px;
}

.container-lessons img {
    max-height: 100px;
    max-width: 100px;
}

.container-lessons-photos img {
    height: 200px;
    width: 250px;
    margin-bottom: 50px;
}

.lesson-button {
    position: relative;
    text-align: center;
}


/*-----------------------------------------Contact*/

.contact-header {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 50px;
}

.container-contact {
    margin-left: 50px;
    margin-right: 1000px;
    margin-top: 50px;
    display: inline-block;
}

.contact-textarea {
    width: 500px;
    height: 150px;
    margin-bottom: 20px;
}

.container-map {
    display: inline-block;
}


/*-----------------------------------------Footer*/

.list-block-item {
    display: block;
}

#footer-details {
    height: 70px;
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
}


.social-links {
    font-size: 50px;
    
}

/*-----------------------------------------Media Queries*/

